<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955969054206-k9lj6bb4944v8flrvbmjmcrm00j2nr3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955969054206-k9lj6bb4944v8flrvbmjmcrm00j2nr3v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqjwXsRZ1mhDsMDA_F4s8WgMk6RJhrSHw</string>
	<key>GCM_SENDER_ID</key>
	<string>955969054206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iliut.firestorm.app-firebase</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebase-a249e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebase-a249e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955969054206:ios:80b365790e485437</string>
	<key>DATABASE_URL</key>
	<string>https://swiftfirebase-a249e.firebaseio.com</string>
</dict>
</plist>